<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942335765739-o4m498ofp6d6i832efc0e0vs48b0qqf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942335765739-o4m498ofp6d6i832efc0e0vs48b0qqf7</string>
	<key>API_KEY</key>
	<string>AIzaSyAWSsa2USniuvdYhvLMl7iEkPN4_dgx2tw</string>
	<key>GCM_SENDER_ID</key>
	<string>942335765739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Ashan-Dias-cobsccomp192p-028</string>
	<key>PROJECT_ID</key>
	<string>iosassignment-dcc26</string>
	<key>STORAGE_BUCKET</key>
	<string>iosassignment-dcc26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942335765739:ios:152025c8feee80a648e2ae</string>
	<key>DATABASE_URL</key>
	<string>https://iosassignment-dcc26-default-rtdb.firebaseio.com</string>
</dict>
</plist>